@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


    <option>@Localizer["Drowing"]</option>
    <option>@Localizer["Сonstruction"]</option>
    <option>@Localizer["Gaming"]</option>
